<header class="top-nav">

<!--main container-->
<% if user_signed_in? %>
      
    <!--display limnk for logout if user is signed in-->
    <p><div id="logout"><%= link_to 'Logout', destroy_user_session_path, method: "delete",class:"top-nav-link"%></div>
    <div id="username"><%= current_user.email %></div>
    
    <!--navigation links if user is signed in-->
    <%= link_to 'Home', root_path, class:"top-nav-link"%>
    <%= link_to 'Instructors', instructors_path, class:"top-nav-link"%>
    <%= link_to 'Courses', courses_path, class:"top-nav-link"%>
    <!-- Calendly link widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/asmaa-aus/book-workshop-now'});return false;">Book now</a>
    <!-- Calendly link widget end -->
    <%= link_to 'Organizations', organizations_path, class:"top-nav-link"%> 
    <%= link_to 'Contact us', contactus_path, class:"top-nav-link"%></p>

<% else %>

    <!--limited links to display if user is not signed in-->
    <p><%= link_to 'Home', root_path, class:"top-nav-link"%>
    <%= link_to 'Login', new_user_session_path, class:"top-nav-link"%>
    <%= link_to 'Sign Up', new_user_registration_path, class:"top-nav-link"%></p>
    <%= link_to 'Contact us', contactus_path, class:"top-nav-link"%></p>
    
    <% end %>

</header>