
<!--creating new course link is only available to instructor other user can not create new course-->
<% if user_signed_in? %>
    <% if (!current_user.instructor_id)  %>
        <p><%= link_to 'new course', new_course_path%></p>       
    <% else %>
        <%= redirect_to courses_path %>
    <% end %>
<% end %>

<!--display the course data -->
<% @courses.each do |course| %>
    <p><%=course.course_name%></p>
    <p><%=course.description%></p>
    <p><%=course.cost%></p>
<% end %>